body {
  font-family: Helvetica;
  


}
h1 {

padding-left: 500px;


}


td {
  padding: 1em 1.5em;
  text-align: center;
  border: 1px solid black;
}

#Battleship {
  border-collapse: collapse;
  position: center;
}
 #button1 {
	width: 100px;
	height: 40px;
	margin-top: 25px;
	background: #008B8B;
	border:1px solid black;
	

}
---------
.text {
	position: relative;
	width: 250px;
	height: 375px;
	margin: 12px;
	display: inline-block;
}

#button1 {
	position: relative;
	display: block;
	width: 150px;
	height: 40px;

	margin: 50px auto;
	border: 2px solid #cccccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	text-align: center;
	line-height: 40px;

	cursor: pointer;
}

.buttons:hover {
	background: rgba(169,169,169,0.3);
}


